<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/image/o-removebg-preview (1).png" type="image/png">
    <title>Orders</title>
</head>
<body>
    <section class="landing__navbar">
        <iframe src="/src/components/nav/navbar.html" width="100%" height="65" frameborder="0"></iframe>
    </section>

    <section class="landing__body">
        <iframe src="/src/components/home/home.html" width="100%" height="548" frameborder="0" name="main"></iframe>
    </section>

    <script src="/main.js"></script>
</body>
</html>