<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="about.css">
</head>
<body>
    <section class="about">
        <main class="about__container">
            <div class="about__card-container">
                <article class="about__body-card">
                    <div class="about__bodycard-title">
                        <img src="/image/fd2.jpg" alt="">
                    </div>
                </article>
            </div>
            <div class="about__body-container">
                <article class="about__body-card2">
                    <div class="about__bodycard-title">
                        <span>Why choose us?</span>
                    </div>
                    <div class="about__bodycard-content">
                        <p>
                            You can effortlessly order some food from any of the best eateries in the city and it will be delivered wherever you are. In fact, our website has recently diversified its deliveries and you can also order other household essentials and have them delivered to your doorstep. So, whether, you are too busy in the office, working late or simply need food delivered to your home, we are an incredible on-demand food delivery company available nowadays.
                        </p>
                        <p>
                            Today Orders boasts of a wide offering of fresh vegetables and fruits, cheese, delicatessen, fresh pastries from our in-house bakeries, dairy products, quality meat products, wines and spirits, household items, electronics, health and beauty products, baby items, pet food and other groceries.
                        </p>
                    </div>
                </article>
            </div>
        </main>
    </section>
    <script src="/main.js"></script>
</body>
</html>