<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <section class="home">
        <main class="home__container">
            <div class="home__content">
                <div class="home__content-body">
                    <div class="home__header-title">
                        <span>Quick deliveries</span>
                    </div>
                    <div class="home__header-content">
                        <p>
                            Have your favorite Nairobi restaurant food delivered to your door with Orders. Whether you want to order breakfast, lunch, dinner, or a snack, Orders makes it easy to discover new and nearby places to eat in Nairobi. Browse tons of food delivery options, place your order, and track it by the minute.
                        </p>
                    </div>
                </div>
                <div class="home__content-btn">
                    <button class="home__btn" type="button">
                        <span>Make an order</span>
                    </button>
                </div>
            </div>
            <div class="home__image-logo">
                <img src="/image/bu-removebg-preview.png" alt="">
            </div>
        </main>
    </section>
</body>
</html>