<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./contact.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <section class="contact">
        <main class="contact__container">
            <div class="cantact__cards-cotainer">
                <article class="contact_card">
                    <div class="contact__card-header">
                        <span> Our Physical Address </span>
                        <i class='bx bx-plus-medical'></i>
                    </div>
                    <div class="contact__card-content">
                        <p>
                            We only have a single physical address in Kenya, Nairobi. P.O. Box 75109 Westlands 0800. We are open 8:00 a.m to 6:00 p.m on Weekdays and 9:00 am to 2:00 p.m on Saturday. We are closed on Sundays and public holidays.
                        </p>
                    </div>
                </article>
    
                <article class="contact_card">
                    <div class="contact__card-header">
                        <span>Our Physical Address</span>
                        <i class='bx bx-plus-medical'></i>
                    </div>
                    <div class="contact__card-content">
                        <p>
                            We only have a single physical address in Kenya, Nairobi. P.O. Box 75109 Westlands 0800. We are open 8:00 a.m to 6:00 p.m on Weekdays and 9:00 am to 2:00 p.m on Saturday. We are closed on Sundays and public holidays.
                        </p>
                    </div>
                </article>
    
                <article class="contact_card">
                    <div class="contact__card-header">
                        <span>Our Physical Address</span>
                        <i class='bx bx-plus-medical'></i>
                    </div>
                    <div class="contact__card-content">
                        <p>
                            We only have a single physical address in Kenya, Nairobi. P.O. Box 75109 Westlands 0800. We are open 8:00 a.m to 6:00 p.m on Weekdays and 9:00 am to 2:00 p.m on Saturday. We are closed on Sundays and public holidays.
                        </p>
                    </div>
                </article>
    
                <article class="contact_card">
                    <div class="contact__card-header">
                        <span>Our Physical Address</span>
                        <i class='bx bx-plus-medical'></i>
                    </div>
                    <div class="contact__card-content">
                        <p>
                            We only have a single physical address in Kenya, Nairobi. P.O. Box 75109 Westlands 0800. We are open 8:00 a.m to 6:00 p.m on Weekdays and 9:00 am to 2:00 p.m on Saturday. We are closed on Sundays and public holidays.
                        </p>
                    </div>
                </article>
            </div>
            
            <div class="contact__container-form">
                <form action="" class="form__contact-container">
                    <div class="contact__input-grp">
                        <label for="subject"> Enter ysubject </label>
                        <input type="text" placeholder="Enter subject (e.g)Payment issue:" required>
                    </div>
                    <div class="contact__input-grp">
                        <label for="email"> Enter ysubject </label>
                        <input type="email" placeholder="Enter your contact email: " required>
                    </div>
                    <div class="contact__input-grp">
                        <label for="subject"> Enter ysubject </label>
                        <textarea name="" id="" cols="30" rows="10" placeholder="Enter your description/ content"></textarea>
                    </div>
                    <div class="contact__form-btn">
                        <button class="btn">Contact us</button>
                    </div>
                </form>
            </div>
        </main>
    </section>
</body>
</html>