<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./payments.css">
</head>
<body>
    <section class="payments">
        <main class="payments__container">
            <div class="payments__container-holder">
                <article class="payments__card">
                    <div class="payments__card-logo">
                        <img src="/image/SAF-MAIN-LOGO-removebg-preview.png" alt="">
                    </div>
                    <div class="payments__card-instructions">
                        <ul class="payments__instructions">
                            <li class="instructions"><span><b>'Click checkout'</b> on the cart</span></li>
                            <li class="instructions"><span>Choose <b>'M-pesa'</b> as the payment method</span></li>
                            <li class="instructions"><span>Click <b>'Continue'</b></span></li>
                            <li class="instructions"><span>Click <b>'Confirm payment'</b></span></li>
                            <li class="instructions"><span>Add <b>'Password'</b> on the pop-up on your device</span></li>
                            <li class="instructions"><span><b>Receive receipt</b></span></li>
                        </ul>
                    </div>
                </article>

                <article class="payments__card">
                    <div class="payments__card-logo">
                        <img src="/image/airtel-removebg-preview.png" alt="">
                    </div>
                    <div class="payments__card-instructions">
                        <ul class="payments__instructions">
                            <li class="instructions"><span><b>'Click checkout'</b> on the cart</span></li>
                            <li class="instructions"><span>Choose <b>'Airtel-money'</b> as the payment method</span></li>
                            <li class="instructions"><span>Click <b>'Continue'</b></span></li>
                            <li class="instructions"><span>Click <b>'Confirm payment'</b></span></li>
                            <li class="instructions"><span>Add <b>'Password'</b> on the pop-up on your device</span></li>
                            <li class="instructions"><span><b>Receive receipt</b></span></li>
                        </ul>
                    </div>
                </article>

                <article class="payments__card">
                    <div class="payments__card-logo">
                        <img src="/image/momo-removebg-preview.png" alt="">
                    </div>
                    <div class="payments__card-instructions">
                        <ul class="payments__instructions">
                            <li class="instructions"><span><b>'Click checkout'</b> on the cart</span></li>
                            <li class="instructions"><span>Choose <b>'Momo-pay'</b> as the payment method</span></li>
                            <li class="instructions"><span>Click <b>'Continue'</b></span></li>
                            <li class="instructions"><span>Click <b>'Confirm payment'</b></span></li>
                            <li class="instructions"><span>Add <b>'Password'</b> on the pop-up on your device</span></li>
                            <li class="instructions"><span><b>Receive receipt</b></span></li>
                        </ul>
                    </div>
                </article>

            </div>
        </main>
    </section>
</body>
</html>