<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav class="nav__holder">
        <div class="nav__logo">
            <div class="nav__logo-img">
                <img src="/image/o-removebg-preview (1).png" alt="orders">
            </div>
            <div class="nav__logo-icon">
                <span>
                    Orders
                </span>
            </div>
        </div>
        <div class="nav__hyperlinks">
            <ul class="hyperlinks__list">
                <li class="hyperlink"><a href="/src/components/home/home.html" target="main">Home</a></li>
                <li class="hyperlink"><a href="/src/components/about/about.html" target="main">About us</a></li>
                <li class="hyperlink"><a href="/src/components/payments/payments.html" target="main">Payments</a></li>
                <li class="hyperlink"><a href="/src/components/contact/contact.html" target="main">Contact us</a></li>
            </ul>
        </div>
        <div class="nav__button-register">
            <a class="btn" href="/src/main_pages/register/register.html" target="main">
                Register
            </a>
            <a class="btn" href="/src/main_pages/login/login.html" target="main">
                Login
            </a>
        </div>
    </nav>
</body>
</html>